certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
colorama==0.4.6
guidata==2.3.1
guiqwt==4.3.1
idna==3.4
numpy==1.23.5
packaging==21.3
Pillow==9.3.0
pycparser==2.21
pyparsing==3.0.9
pyqt-tools==1.0.0
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQt6==6.4.0
PyQt6-Qt6==6.4.1
PyQt6-sip==13.4.0
PythonQwt==0.10.2
QtPy==2.3.0
requests==2.28.1
scipy==1.9.3
srt==3.5.2
torch==1.12.1
tqdm==4.64.1
typing_extensions==4.4.0
urllib3==1.26.13
vosk==0.3.44
websockets==10.4